<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.ccs.wellness.storytelling">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="StoryWell"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstrun.FirstRunActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.HomeView" />
        <activity
            android:name=".StoryViewActivity"
            android:label="@string/title_activity_story_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StoryView" />
        <activity
            android:name=".ReflectionViewActivity"
            android:label="@string/title_activity_reflection_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StoryView" />
        <activity
            android:name=".MonitoringActivity"
            android:exported="true"
            android:label="@string/title_activity_monitoring"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.StoryView" />
        <activity
            android:name=".ResolutionActivity"
            android:label="@string/title_activity_resolution_view"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StoryView" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/appinfo_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.About"
            android:parentActivityName=".HomeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />

        </activity>

        <receiver android:name="edu.neu.ccs.wellness.utils.NetworkConnectionProctor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Preferences" />
        <activity
            android:name=".settings.DiscoverTrackersActivity"
            android:label="@string/title_activity_discover_trackers"
            android:parentActivityName=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.PairTrackerActivity"
            android:label="@string/title_activity_pairing_tracker"
            android:parentActivityName=".settings.DiscoverTrackersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- BROADCAST RECEIVERS -->
        <receiver
            android:name=".utils.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".sync.FitnessSyncReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".notifications.RegularReminderReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <!-- Services -->
        <service
            android:name=".sync.FitnessSyncService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false"/>

        <service android:name=".notifications.FcmNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_round_baloons_24px" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_default_channel_id" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

    </application>

</manifest>